body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slider img {
  height: 350px;
  object-fit: cover;
}
.search-input:hover {
  border: none !important;
  border-bottom: 1px solid #333 !important;
}
.dateInput {
  border: none;
  border-bottom: 1px solid #333;
  width: 21%;
}
